<div class="event event-common">
  <strong>
    <% if is_show_date %>
      <%= event.created_at.strftime("%Y-%m-%d") %>
      <%= Event::CN_WEEK[event.created_at.strftime('%A')] %> <br/>
    <% end %>
  </strong>
  <p>
    <% if is_show_project %>
      <%= event.project.name %>
    <% end %>
  </p>
  <%= event.created_at.strftime("%H:%M") %>
  <%= event.user.try(:nickname) %>
  <%= event.content %>
  <%= event.eventable.name %>
</div>

