<h1>动态</h1>
<header>
  筛选动态: 
  <%= form_tag('events', method: :get, id: "search_form") do %>
    <label for="project">所有项目</label>
    <%= select_tag 'project_id', options_for_select(@projects.map { |p| [p.name, p.id] }), include_blank: true, onchange: "this.form.submit();" %>
    <label for="user">所有成员</label>
    <%= select_tag 'user_id', options_for_select(@members.map { |m| [m.nickname, m.id] }), include_blank: true, onchange: "this.form.submit();" %>
  <% end %>
</header>
<div id="events">
  <% @current_date = "" %>
  <% @current_project = "" %>
  <% @events.each do |event| %>
    <% event_date = event.created_at.strftime("%Y-%m-%d") %>
    <% event_project = event.project.id %>
    <% is_show_date = event_date == @current_date ? false : true %>
    <% is_show_project = event_project == @current_project ? false : true %>
    <%= render 'event', event: event, is_show_date: is_show_date, is_show_project: is_show_project %>
    <% @current_date = event_date %>
    <% @current_project = event_project %>
  <% end %>
</div>

<%= will_paginate @events, class: "endless_paginate" %>