$('#events').append('<%= j render(@events) %>');
<% if @events.next_page %>
  $('.endless_paginate').replaceWith('<%= j will_paginate(@events, class: "endless_paginate") %>');
  $(".footer").remove();
<% else %>
  $('.endless_paginate').remove();
<% end %>
<% sleep 0.8 %>
