<h1>所有项目</h1>
<h3><%= link_to "新建项目", new_team_project_path(@team) %></h3>
<h3><%= link_to "动态", team_events_path(@team) %></h3>
<ul>
  <% if @projects.any? %>
      <% @projects.each do |project| %>
        <li><%= link_to project.name, project_path(project) %></li>
      <% end %>
  <% end %>
</ul>

