<h1>创建项目</h1>
<%= form_for [@team, @project] do |f| %>
  <%= f.label :name, "项目名称" %>
  <%= f.text_field :name %> <br/>
  <% @members.each do |m| %>
    <label>
      <%= check_box_tag 'user_ids[]', m.id, false %>
      <%= m.nickname %>
    </label>
  <% end %>
  <br/>
  <%= f.submit "创建项目" %>
<% end %>