<h1><%= @project.name %></h1>
<span>待处理任务: <%= @unfinish_count %></span>
<span>成员: <%= @project_users.count %></span>
<h1>创建任务</h1>
<%= form_for [@project, @project.todos.build] do |f| %>
  <%= f.label :name, "新的任务" %>
  <%= f.text_field :name %>
  <%= f.label :end_time_at, "任务截至时间" %>
  <%= f.text_field :end_time_at, class: "date-picker" %>
  <%= f.label :user_id, "将任务指派给" %>
  <%= f.select 'user_id', options_for_select(@project_users.map { |pu| [pu.nickname, pu.id] }), include_blank: true %>
  <%= f.submit "创建任务" %>
<% end %>
<h2>任务列表</h2>
<ul id ="todos">
  <% @todos.each do |todo| %>
    <%= render 'todos/todo', todo: todo %>
  <% end %>
</ul>

<%= will_paginate @todos, class: "endless_paginate" %>

<script type="text/javascript">
  // 日历
  $('.date-picker').on("click", function(){
    $(this).datetimepicker({ format: 'yyyy-mm-dd',language: 'zh-CN',startView: 2, minView: 2, autoclose: true});
  });

  $(".todo").on("change", function(){
    var todo_id = $(this).data("todo");
    console.log(todo_id);
    $.ajax({
      type: "POST",
      url: "/todos/change_complete_todo",
      data: {todo_id: todo_id},
      success: function(data) { 

      },
      error: function(data){

      }
    })
  });
</script>
