$('#todos').append('<%= j render(@todos) %>');
<% if @todos.next_page %>
  $('.endless_paginate').replaceWith('<%= j will_paginate(@todos, class: "endless_paginate") %>');
  $(".footer").remove();
<% else %>
  $('.endless_paginate').remove();
<% end %>
<% sleep 0.8 %>
