<li class="todo" data-todo="<%= todo.id %>">
  <%= check_box_tag 'is_complete', nil, todo.is_complete?, class: "is_complete" %>
  <i><%= todo.user.try(:nickname) %></i>
  <%= todo.name %>: 
  <%= todo.end_time_at %>
</li>